.hidden{
  display: none;
}

body{
  margin:0;
}

#wrap{
  position: relative;
  margin: 0;
}

input{
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 20px;
}

input:focus{
  outline: none;
}

#wrap-img img{
  margin: 0;
  width: 1522px;
  height: 775px;
}

#clock-contn{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 17%;
  left: 561px;
  text-align: center;
}

#clock{
  color: rgba(53, 52, 52, 0.678);
  font-weight: 800;
  font-size: 150px;
}

#login-form{
  position: absolute;
  top: 50%;
  left: 50%;
}

#todo-form{
  position: absolute;
  top: 55%;
  left: 47%;
}

#todo-list{
  position: absolute;
  top: 60%;
  left: 47%;
}

#quote{
  position: absolute;
  top: 80%;
  left: 50%;
}

#weather span{
  position: absolute;
  top: 3%;
  left: 88%;
  color: rgb(70, 68, 68);
}
